<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="WebServer" value="http://10.30.0.230:8080" />
        <add key="InitialPage" value="/VIS_1.0.CR2/PlatformSupport_TestHarness/Begin/?Tenant=VHT&amp;Segment=EnglishSales&amp;ScriptID=1" />
    </appSettings>
</configuration>